[submodule "ThirdParty/ghostty"]
	path = ThirdParty/ghostty
	url = https://github.com/onevcat/ghostty.git
[submodule "Resources/git-wt"]
	path = Resources/git-wt
	url = https://github.com/khoi/git-wt.git
